.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: -5px -5px 8px #eee;
    border-radius: 5px 0 0 5px;
}

.footer a {
    text-decoration: none;
}